{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django API{% endblock %}</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        h1 { color: #0f0909; }
        .container { max-width: 800px; margin: auto; }
        .card { border: 1px solid #c78383; padding: 10px; margin: 10px; }
        a { text-decoration: none; color: rgb(105, 105, 148); }
        a:hover { text-decoration: underline; }
    </style>


</head>
<body>
    <div class="container">
        <h1>{% block header %}Welcome{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
